<!DOCTYPE html>
<html lang="en">

 <head>
  <title>Smart Privacy -  ZZZ_3</title>
  <%= stylesheet_link_tag   "application" %>
   <%= javascript_include_tag "application" %>
   <%= surveyor_includes %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
</head>

  <body>

    <%= render "layouts/application/header" %>

    <div class="container-fluid">

      <%= render "layouts/application/flash_messages" %>

      <%= yield %> 

    </div>

  </body>

</html>

